<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Candidaturas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        Título
      </ion-col>
      <ion-col>
        Unidade de Saúde
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let candidatura of candidaturas" (click)="selecionaCandidatura(candidatura)">
      <ion-item [color]="candidatura.aprovado ? 'secondary' : 'light'">
        <ion-label *ngIf="candidatura.oportunidadeCarregada">{{candidatura.oportunidadeCarregada.titulo}}</ion-label>
        <ion-label *ngIf="candidatura.oportunidadeCarregada">{{candidatura.oportunidadeCarregada.unidade}}</ion-label>
        <ion-label *ngIf="candidatura.aprovado">APROVADO</ion-label>
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>