<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Experiência</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <form
    [formGroup]="form"
    (ngSubmit)="isEdicao ? editarExperiencia() : cadastrarExperiencia()">
    <ion-list>
        <ion-item margin-bottom>
          <ion-label>Empresa</ion-label>
          <ion-input
              type="text"
              formControlName="empresa"></ion-input>
        </ion-item>

        <ion-item margin-bottom>
          <ion-label>Início</ion-label>
          <ion-datetime formControlName="inicio" display-format="DD/MM/YYYY"></ion-datetime>
        </ion-item>

        <ion-item margin-bottom>
          <ion-label>Fim</ion-label>
          <ion-datetime formControlName="fim" display-format="DD/MM/YYYY"></ion-datetime>
        </ion-item>

        <button
          ion-button
          color="primary"
          text-center
          block [disabled]="!form.valid"
          *ngIf="!isEdicao">Inserir Experiência</button>

          <button
          ion-button
          color="primary"
          text-center
          block [disabled]="!form.valid"
          *ngIf="isEdicao">Editar Experiência</button>
    </ion-list>
  </form>

  <ion-grid>
    <ion-row>
      <ion-col>
        Empresa
      </ion-col>
      <ion-col>
        Início
      </ion-col>
      <ion-col>
        Fim
      </ion-col>
    </ion-row>
    <ion-list>
      <ion-row *ngFor="let experiencia of experiencias">
        <ion-item-sliding>
          <ion-item>
              <ion-col>{{experiencia.empresa}}</ion-col>
              <ion-col>{{experiencia.inicio}}</ion-col>
              <ion-col>{{experiencia.fim}}</ion-col>
          </ion-item>
          <ion-item-options side="right">
              <button ion-button color="primary" (click)="selecionaExperiencia(experiencia)">Editar</button>
              <button ion-button color="danger" (click)="removerExperiencia(experiencia)">Remover</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-row>
    </ion-list>
  </ion-grid>

</ion-content>