<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Habilidade</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <form
    [formGroup]="form"
    (ngSubmit)="isEdicao ? editarHabilidade() : cadastrarHabilidade()">
    <ion-list>
        <ion-item margin-bottom>
          <ion-label>Descrição</ion-label>
          <ion-input
              type="text"
              formControlName="descricao"></ion-input>
        </ion-item>

        <button
          ion-button
          color="primary"
          text-center
          block [disabled]="!form.valid"
          *ngIf="!isEdicao">Inserir Habilidade</button>

          <button
          ion-button
          color="primary"
          text-center
          block [disabled]="!form.valid"
          *ngIf="isEdicao">Editar Habilidade</button>
    </ion-list>
  </form>

  <ion-grid>
    <ion-row>
      <ion-col>
        Habilidade
      </ion-col>
    </ion-row>
    <ion-list>
      <ion-row *ngFor="let habilidade of habilidades">
        <ion-item-sliding>
          <ion-item>
              <ion-col>{{habilidade.descricao}}</ion-col>
          </ion-item>
          <ion-item-options side="right">
              <button ion-button color="primary" (click)="selecionaHabilidade(habilidade)">Editar</button>
              <button ion-button color="danger" (click)="removerHabilidade(habilidade)">Remover</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-row>
    </ion-list>
  </ion-grid>

</ion-content>